@model AppMvc.Models.Filme

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Titulo" class="control-label"></label>
    <input asp-for="Titulo" class="form-control" />
    <span asp-validation-for="Titulo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DataLancamento" class="control-label"></label>
    <input asp-for="DataLancamento" class="form-control" />
    <span asp-validation-for="DataLancamento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Genero" class="control-label"></label>
    <input asp-for="Genero" class="form-control" />
    <span asp-validation-for="Genero" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Preco" class="control-label"></label>
    <input asp-for="Preco" class="form-control" />
    <span asp-validation-for="Preco" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Avaliacao" class="control-label"></label>
    <input asp-for="Avaliacao" class="form-control" />
    <span asp-validation-for="Avaliacao" class="text-danger"></span>
</div>
<div class="form-group pt-1">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
