@model IEnumerable<DevIOApp.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<vc:summary></vc:summary>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar produto</a>
</p>
<partial name="_ListaProdutos" />
