html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.form-control {
    padding-bottom: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

a.nav-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box.shadow{
    box-shadow: 0 .25rem .75rem rgba(0,0,0, .05);
}

button.accept-policy{
    font-size: 1rem;
    line-height: inherit;
}